<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">  
    <title>hbd</title>
</head>
<body>
    <div><a href="about.html"><h1 style="text-align: center;text-decoration: none;">klick me</h1></a></div>
    <div class="card">
        <div class="imgBox">
            <div class="bark"></div>
                <img src="../img/hbdd.png" alt="" srcset="">
            </div>
            <div class="details">
                <h4 class="color1">Hello Jhonny</h4>
                <h4 class="color2"> Happry Special Day! </h4>
                <p>Dear Brother</p>
                <p>you're amazing for having come this far</p>
                <p>your pace matches your age</p>
               
                <p>that demonstrates how amazing you are</p>
                <p class="text-right">Happy Birthday, Brother!</p>
                <p class="text-right">Yuyun :)</p>
            </div>
    </div>
</body>
<script src="script.js"></script>
</html>